<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Board Read</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Read
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" name="bno" class="form-control" placeholder="bno"
                                   th:value="${boardDTO.bno}">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Title</span>
                                <input type="text" name="title" class="form-control" placeholder="Title"
                                       th:value="${boardDTO.title}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Content</span>
                                <textarea class="form-control col-sm-5" rows="5" name="content"
                                          th:text="${boardDTO.content}"></textarea>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Writer</span>
                                <input type="text" name="writer" class="form-control" placeholder="Writer"
                                       th:value="${boardDTO.writer}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">RegDate</span>
                                <input type="text" name="regDate" class="form-control" placeholder="regDate"
                                       th:value="${boardDTO.regDate}" readonly>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">ModDate</span>
                                <input type="text" name="modDate" class="form-control" placeholder="modDate"
                                       th:value="${boardDTO.modDate}" readonly>
                            </div>

                            <div class="float-end">
                                <button type="button" class="btn btn-primary listBtn">List</button>
                                <button type="button" class="btn btn-secondary modBtn">Modify</button>
                                <button type="button" class="btn btn-danger removeBtn">Remove</button>
                            </div>
                        </form>
                    </div><!-- end card body -->
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
    <style>
        .ck-editor__editable_inline {
            min-height: 300px; /* 세로 크기 조정 */
            max-height: 500px;
            height: 400px;
        }
        .ck-editor {
            width: 100%; /* 가로 크기 조정 */
        }
        .ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset, .ck.ck-reset_all {
            width: 100%; /* 에디터의 가로 크기를 100%로 설정 */
            max-width: 800px;
        }

    </style>
</div>

<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]
    console.log(errors)

    let errorsMessage = ''
    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorsMessage += `${errors[i].field}는(은)${errors[i].code} \n`
        }
        alert(errorsMessage)
    }

    document.addEventListener('DOMContentLoaded', function () {
        const modBtn = document.querySelector('.modBtn')
        const listBtn = document.querySelector('.listBtn')
        const removeBtn = document.querySelector('.removeBtn')
        const frm = document.querySelector('form')

        modBtn.addEventListener('click', function (evt) { // 수정
            evt.preventDefault()
            frm.submit()
        })
        removeBtn.addEventListener('click', function (evt) { // 삭제
            evt.preventDefault()
            frm.action = '/board/remove?' + [[${pageRequestDTO.getLink()}]]
            frm.submit()
        })
        listBtn.addEventListener('click', function (evt) { // 목록
            evt.preventDefault()
            self.location = '/board/list?' + [[${pageRequestDTO.getLink()}]]
        })
    })

    ClassicEditor
        .create(document.querySelector('textarea[name=content]'), {
            ckfinder: {
                uploadUrl: '/api/upload/editor', // Spring Boot에서 처리할 URL
            }
        })
        .catch(error => {
            console.error(error);
        });

</script>
</body>
</html>